@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    WiktorSoft<br />
   Siedlce,UPH 60<br />
    <abbr title="Phone">P:</abbr>
    470043281993
</address>

<address>
    <strong>Resources:</strong>   <a href="mailto:Resources@example.com">dewiktor@gmail.com</a>
    
</address>





            